In [2]:
a=["banana","apple","mango"]

In [3]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
mango

In [9]:
for i in range(0,3): #0,1,2
    print(i) 
    print(a[i])

0
banana
1
apple
2
mango

In [20]:
b=[20,10,5]
total=0
for e in b:
    total = total + e
    print(total)

20
30
35

In [21]:
# finding sum of 1,2,3,4 
c=list(range(1,5))
print(c)

[1, 2, 3, 4]

In [39]:
total2 = 0
for i in range(1,5):
    total2 += i
    print(total2)

1
3
6
10

In [42]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [45]:
print(4 % 3)

1

In [50]:
print(3%1)

0

In [61]:
print(list(range(100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [74]:
#case 1 if ,elif
total3=0
total4=0
for i in range(1,100):
    if i%3 == 0:   #3,6,9........
       total3 +=i
    elif i%5 == 0:    #5,10.....
        total4 +=i
print(total3)  
print(total4) 
print(total3 + total4)

1683
635
2318

In [71]:
#case 2 if
total3=0
 
for i in range(1,100):
    if i%3 == 0 or i%5 == 0: 
       total3 +=i   
print(total3)

2318

In [73]:
#case 3 if ,elif
total4 =0
for i in range(1,100):
    if i%3 == 0:   #3,6,9........
       total4 +=i
    elif i%5 == 0:    #5,10.....
        total4 +=i
print(total4)

2318